*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    font-family: "Lato", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff
}

#muscleicon{
    font-size: 28px;
}

a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

.container{
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}



/* Navbar*/

nav{
    width: 100%;
    font-family: Montserrat;
    background-color: black;
    color: #fff;
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: static;
}

#logo-box .logo{
    color: #fff;
    font-weight: 700;
    font-size: 2.8rem;
    
    
}

#nav-links{
    float: right;
}
#logo-box{
    float: left;
}

#nav-links .nav-item{
    float: left;
    margin: 0.5rem;
}



#nav-links .nav-link{
    color: #fff;
    font-size: 1.6rem;
    font-weight: 700;
    display: block;
    padding: 1.6rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    transition: color 0.4s;
}

#nav-links .nav-link:hover{
    color: khaki;
}

#nav-links .nav-icon{
    display: none;
}

@media(max-width: 992px){
    #logo-box{
        float: none;
        text-align: left;
    }
    #nav-links{
        float: none;
    }
    #nav-links .nav-link{
        font-size: 2rem;
        padding-left: 0;
    }
    #nav-links .nav-item{
        float: none;
        text-align: left;
    }
    #nav-links .nav-icon{
        display: block;
        position: absolute;
        top: 10px;
        right: 5px;
        font-size: 2.5rem;
    }

    #nav-links.responsive li:not(:first-child){
        display: none;
    }

    
}

header{
    color: black;
    height: 800px;
    padding-top: calc(106px + 4rem);
    text-align: center;
    

}

#hesaplayıcıbaşlık{
    background-color: black;
    color: white;
    text-align: center;
    height: 60px;
    font-size: 3.5rem;
}
#rehberbaşlık{
    background-color: black;
    color: white;
    text-align: center;
    height: 60px;
    font-size: 3.5rem;
}
#sssbaşlık{
  background-color: black;
  color: white;
  text-align: center;
  height: 60px;
  font-size: 3.5rem;
}

#kaloribaşlık{
    margin-left: 60px;
    font-size: 45px;
    text-align: center;

    background-color: #EBECEC;
    padding: 20px 30px;
    margin-left: 470px;
    margin-right: 470px;
    border-radius: 10px;
}

#suprehberbaşlık{
    margin-left: 60px;
    font-size: 45px;
    text-align: center;

    background-color: #EBECEC;
    padding: 20px 30px;
    margin-left: 525px;
    margin-right: 525px;
    border-radius: 10px;
}

.rehberaltbaşlık{
    margin-left: 60px;
    font-size: 30px;
}



#hesaplayıcı{
    height: 1250px;
    padding-top: 10rem;
    padding-bottom: 10rem;
    text-align: left;
    background-color: #fff;
}

#cinsiyetid{
    background-color: #EBECEC;
    padding: 20px 30px;
    margin-left: 60px;
    margin-right: 60px;
    border-radius: 10px; 
    
}

#yas{
    background-color: #EBECEC;
    padding: 20px 30px;
    margin-left: 60px;
    margin-right: 60px;
    border-radius: 10px;
}

#boy{
    background-color: #EBECEC;
    padding: 20px 30px;
    margin-left: 60px;
    margin-right: 60px;
    border-radius: 10px;
}

#kilo{
    background-color: #EBECEC;
    padding: 20px 30px;
    margin-left: 60px;
    margin-right: 60px;
    border-radius: 10px;
}

#hareketlilik{
    background-color: #EBECEC;
    padding: 20px 30px;
    margin-left: 60px;
    margin-right: 60px;
    border-radius: 10px;

}
#hedef{
    background-color: #EBECEC;
    padding: 20px 30px;
    margin-left: 60px;
    margin-right: 60px;
    border-radius: 10px;
}

#kaloriihtiyaç{
    background-color: #EBECEC;
    padding: 20px 30px;
    margin-left: 60px;
    margin-right: 60px;
    border-radius: 10px;
}

#makrolar{
    background-color: #EBECEC;
    padding: 20px 30px;
    margin-left: 60px;
    margin-right: 60px;
    border-radius: 10px;
}

.makro{
    display: inline;
    margin: 40px;
    margin-left: 0px;
}

#rehber{
    height: 6090px;
    padding-top: 10rem;
    padding-bottom: 10rem;
    text-align: left;
    background-color: #fff
}

#rehber{
    font-size: 2rem;
    margin-left: 6px;
}

#sss{
  height: 7000px;
  background-color: #fff
    
    
}

.rehberaltbaşlık{
    margin-left: 50px;
    font-style: bold;
    
}

.paragrafbaşı{
    text-indent:50px;
}

.muscle-groups {
    position: relative;
    
    width: 500px;
    
    padding: 0.5rem 1rem;
    padding-top: 5rem;
    
    
    overflow: hidden;
    margin-top: 0px;
    
    
  }
  .muscle-groups h1 {
    margin: -0.5rem -1rem 1rem;
    padding: 0 1rem 0.75rem;
    
    color: #eee;
    text-align: center;
    font-size: 1.25rem;
  }
  .muscle-groups h2 {
    margin: 0 0 0.5rem;
    font-size: 0.8rem;
    letter-spacing: -0.03em;
    text-transform: uppercase;
  }
  .muscle-groups label + h2 {
    margin-top: 1rem;
  }
  .muscle-groups label {
    width: 20px;
    display: block;
    margin-bottom: 0.5rem;
    cursor: pointer;
    font-size: 1.5rem;
    opacity: 1;
    position: relative;
    z-index: 200;
    border-left: 5px solid transparent;
    padding-left: 4px;
    margin-left: -11px;
  }
  .muscle-groups label:hover, .muscle-groups label.hover {
    opacity: 1;
    border-color: rgba(51, 51, 51, 0.75);
  }
  .muscle-groups input:checked + label {
    opacity: 1;
    font-weight: bold;
    
  }
  .muscle-groups svg {
    position: absolute;
    right: -1.5rem;
    bottom: 3rem;
    height: 350px;
    z-index: 100;
  }
  .muscle-groups svg g[id] path {
    opacity: 0.2;
    transition: opacity 0.25s ease-in-out;
  }
  .muscle-groups svg g g[id]:hover path {
    cursor: pointer;
    opacity: 0.5;
    fill: #00BCD4 !important;
  }
  .muscle-groups .muscles-helper {
    display: none;
  }
  .muscle-groups label[for=obliques]:hover ~ svg #Obliques path {
    opacity: 0.75;
  }
  .muscle-groups .obliques:checked ~ svg #Obliques path {
    opacity: 0.8;
    fill: #00BCD4 !important;
  }
  .muscle-groups label[for=abs]:hover ~ svg #Abs path {
    opacity: 0.75;
  }
  .muscle-groups .abs:checked ~ svg #Abs path {
    opacity: 0.8;
    fill: #00BCD4 !important;
  }
  .muscle-groups label[for=quads]:hover ~ svg #Quads path {
    opacity: 0.75;
  }
  .muscle-groups .quads:checked ~ svg #Quads path {
    opacity: 0.8;
    fill: #00BCD4 !important;
  }
  .muscle-groups label[for=biceps]:hover ~ svg #Biceps path {
    opacity: 0.75;
  }
  .muscle-groups .biceps:checked ~ svg #Biceps path {
    opacity: 0.8;
    fill: #00BCD4 !important;
  }
  .muscle-groups label[for=adductors]:hover ~ svg #Adductors path {
    opacity: 0.75;
  }
  .muscle-groups .adductors:checked ~ svg #Adductors path {
    opacity: 0.8;
    fill: #00BCD4 !important;
  }
  .muscle-groups label[for=pectorals]:hover ~ svg #Pectorals path {
    opacity: 0.75;
  }
  .muscle-groups .pectorals:checked ~ svg #Pectorals path {
    opacity: 0.8;
    fill: #00BCD4 !important;
  }
  .muscle-groups label[for=deltoids]:hover ~ svg #Deltoids path {
    opacity: 0.75;
  }
  .muscle-groups .deltoids:checked ~ svg #Deltoids path {
    opacity: 0.8;
    fill: #00BCD4 !important;
  }
  .muscle-groups label[for=hamstrings]:hover ~ svg #Hamstrings path {
    opacity: 0.75;
  }
  .muscle-groups .hamstrings:checked ~ svg #Hamstrings path {
    opacity: 0.8;
    fill: #00BCD4 !important;
  }
  .muscle-groups label[for=quads]:hover ~ svg #Quads path {
    opacity: 0.75;
  }
  .muscle-groups .quads:checked ~ svg #Quads path {
    opacity: 0.8;
    fill: #00BCD4 !important;
  }
  .muscle-groups label[for=forearms]:hover ~ svg #Forearms path {
    opacity: 0.75;
  }
  .muscle-groups .forearms:checked ~ svg #Forearms path {
    opacity: 0.8;
    fill: #00BCD4 !important;
  }
  .muscle-groups label[for=calves]:hover ~ svg #Calves path {
    opacity: 0.75;
  }
  .muscle-groups .calves:checked ~ svg #Calves path {
    opacity: 0.8;
    fill: #00BCD4 !important;
  }
  .muscle-groups label[for=triceps]:hover ~ svg #Triceps path {
    opacity: 0.75;
  }
  .muscle-groups .triceps:checked ~ svg #Triceps path {
    opacity: 0.8;
    fill: #00BCD4 !important;
  }
  .muscle-groups label[for=glutes]:hover ~ svg #Glutes path {
    opacity: 0.75;
  }
  .muscle-groups .glutes:checked ~ svg #Glutes path {
    opacity: 0.8;
    fill: #00BCD4 !important;
  }
  .muscle-groups label[for=lats]:hover ~ svg #Lats path {
    opacity: 0.75;
  }
  .muscle-groups .lats:checked ~ svg #Lats path {
    opacity: 0.8;
    fill: #00BCD4 !important;
  }
  .muscle-groups label[for=trapezius]:hover ~ svg #Trapezius path {
    opacity: 0.75;
  }
  .muscle-groups .trapezius:checked ~ svg #Trapezius path {
    opacity: 0.8;
    fill: #00BCD4 !important;
  }
  
  html {
    background: #333;
    background: linear-gradient(25deg, #111, #555);
  }
  
  body {
    font-family: Roboto;
  }
  
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    padding: 2rem 0;
    
  }
  main .info {
    font-size: 0.8rem;
    display: block;
    width: 250px;
    padding-top: 200px;
    color: #eee;
    padding-left: 2rem;
    opacity: 0.5;
  }
  main .info:hover {
    opacity: 1;
  }
  main .info a {
    color: #eee;
  }

  .firstsection{
    height: 700px;
  }
  
  #curl{
    margin-left: 500px;
    margin-top: 50px;
  }
  #baslik{
    text-align: center;
    margin-top: 40px;
    
    
  }

  #barbrowtext{
    text-align: center;
  }
  .rehberdiv{
    background-color: #EBECEC;
    padding: 20px 30px;
    margin-left: 60px;
    margin-right: 60px;
    border-radius: 10px;
  }






